title: Bay Area Skeet (international) Club
description: International skeet club aiming to promote friendly competition
theme: just-the-docs

url: https://colorbynumb3r.github.io
baseurl: /basic-justthedocs

# Aux links for the upper right navigation
aux_links:
  Blue Monday Skeet (American): http://www.bluemondayskeet.org

footer_content: "Copyright &copy; 2023 Erique Paul Apolinario. Questions? Email admin@BayAreaSkeet.Club"

callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red
